@{
    ViewData["Title"] = L["RegisterTitle"];
}

<h2>@L["RegisterTitle"]</h2>

<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label>@L["Email"]</label>
        <input name="email" class="form-control" required />
    </div>

    <div class="form-group">
        <label>@L["Password"]</label>
        <input type="password" name="password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary">@L["RegisterBtn"]</button>
</form>
